<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>

	<body>
		<div class="container mt-5">
			<h2 style="margin-left: 350px; color: red">Admin Dashboard</h2>
			<a
				style="display: flex; justify-content: flex-end; text-decoration: none"
				href="/logout">
				<button class="btn btn-danger">Logout</button>
			</a>
			<hr />
			<div style="color: mediumblue; margin-left: 390px">
				<h2>Add Receipe</h2>
			</div>
			<form
				method="post"
				enctype="multipart/form-data">
				{% csrf_token %}
				<div class="mb-3">
					<label class="form-label">Receipe Name</label>
					<input
						class="form-control"
						name="receipe_name"
						required
						type="text" />
				</div>
				<div class="mb-3">
					<label class="form-label">Receipe Description</label>
					<textarea
						class="form-control"
						required
						name="receipe_description"></textarea>
				</div>
				<div class="mb-3">
					<label class="form-label">Receipe Price</label>
					<input class="form-control" name="receipe_price" type="number"
					required
				</div>
				<br />
				<button class="btn btn-primary form-control">Add Receipe</button>

				<hr />
			</form>
			<!-- <div>
					<form>
						<div>
							<label>Search Food</label>
							<input
								name="search"
								type="text" />
							<hr />
						</div>
						<button type="submit">Search</button>
					</form>
			</div> -->
			<table class="table mt-5">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Receipe Name</th>
						<th scope="col">Receipe Description</th>
						<th scope="col">Receipe Price</th>
						<th scope="col">Receipe Delete</th>
						<th scope="col">Receipe Update</th>
					</tr>
				</thead>
				<tbody>
					{% for receipe in receipes %}
					<tr>
						<th scope="row">{{forloop.counter}}</th>
						<td>{{receipe.receipe_name}}</td>
						<td>{{receipe.receipe_description}}</td>
						<td>{{receipe.receipe_price}}</td>
						<td>
							<a
								class="btn btn-danger"
								href="/delete_receipe/{{receipe.id}}/"
								>Delete</a
							>
						</td>
						<td>
							<a
								class="btn btn-primary"
								href="/update_receipe/{{receipe.id}}/"
								>Update</a
							>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
